<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
	<p>From the kitchen of <%= coffee.barista.name %>...</p>
  <h1><%= coffee.name %></h1>
  <h2>This is a<%= coffee.hot ? ' Hot Beverage' : 'n Iced Beverage' %></h2>
  <% if (user) { %>
    <form 
      action="/coffees/<%= coffee._id %>/flip-hot?_method=PATCH" 
      method="POST"
    >
      <button class="btn" type="submit">
        Make coffee <%= coffee.hot ? 'iced' : 'hot' %>
      </button>
    </form>
  <% } %>

  <h4>Ingredients:</h4>
  <div id="ingredList">
    <% coffee.ingredients.forEach(ingred => { %>
      <p><%= ingred.name %></p>
    <% }) %>
  </div>
</section>
	
<%# add to cast form below this comment %>
<form id="add-per-to-cast" action="/coffees/<%= coffee._id %>/ingredients" method="POST">
  <select name="ingredientId">
    <% ingredients.forEach(ingred => { %>
      <option value="<%= ingred._id %>"><%= ingred.name %></option>
    <% }) %>
  </select>
  <button type="submit">Add to Coffee</button>
</form>

	<% if (coffee.barista.equals(user?.profile._id)) { %>
    <form action="/coffees/<%= coffee._id %>/edit" method="GET">
      <button class="btn" type="submit">Remake coffee</button>
    </form>
    <form action="/coffees/<%= coffee._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">Delete this coffee💀</button>
    </form>
  <% } %>
</section>

<%- include('../partials/footer') %>